# Copy this file to .env, fill in your own values.
# Get these from https://www.sanity.io/manage after creating your project.
SANITY_STUDIO_PROJECT_ID=l4gtk7o7
SANITY_STUDIO_DATASET=production

# Only needed to run `npm run migrate` (never commit the real token).
# Create one at https://www.sanity.io/manage -> API -> Tokens -> Add API token
# with "Editor" permissions.
SANITY_API_TOKEN=skSTchHIsBL4i8dE853oKAJyn6Opf7ay9alD5hOUhbrAQNTId86GZlj5PBKQtzwAKCl4YsQO84wy7s3D3wzv268vB00nZ0pjiC5zkp3EdnT62ouKSuI9b0f0jmeEWijs1LmpLtHTSKItT0sk3YxlHWmE02U7WU8kBAgDrM4ipyoFilx28ElS